.ant-pro-sider-logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  transition: height 0.2s;
}
.ant-pro-sider-logo h1 {
  display: inline-block;
  height: 32px;
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
  vertical-align: middle;
  animation: fade-in;
  animation-duration: 0.2s;
}
.ant-pro-sider-logo {
  position: relative;
  display: flex;
  align-items: center;
  padding: 16px;
  line-height: 32px;
  cursor: pointer;
  background-color: #001529;
}

.trigger {
  display: flex;
  float: left;
  height: 48px;
  margin-left: auto;
  overflow: hidden;
  font-size: 16px;
  line-height: 48px;
  padding: 0 24px;
  cursor: pointer;
  align-items: center;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.site-layout .site-layout-background {
  background: #fff;
  height: 48px;
}

div.container {
  margin: 24px 16px;
  padding: 24px;
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

.right___2CMz5 {
  display: flex;
  float: right;
  height: 48px;
  margin-left: auto;
  overflow: hidden;
}
.right___2CMz5 .action___3ut1O {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.3s;
}
.right___2CMz5 .account___1r_Ku .avatar___1Rx79 {
  margin: calc((64px - 24px) / 2) 0;
  margin-right: 8px;
  color: #1890ff;
  vertical-align: top;
  background: rgba(255, 255, 255, 0.85);
}

.ant-avatar-sm {
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
}

.ant-avatar-image {
  background: transparent;
}

.right___2CMz5 .action___3ut1O > span {
  vertical-align: middle;
}

/* .anticon {
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  vertical-align: -0.125em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* font-variant: tabular-nums; */
  /* line-height: 1.5715; */
  /* background-color: #fff; */
  /* font-feature-settings: 'tnum', "tnum"; */
}

.ant-pro-sider .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ant-drawer-body {
  padding: 0;
}

.ant-drawer-wrapper-body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-card {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  background: #fff;
  border-radius: 2px;
}

.ant-card-head {
  min-height: 48px;
  margin-bottom: -1px;
  padding: 0 24px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  font-size: 16px;
  background: transparent;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 2px 2px 0 0;
}
.ant-card-body {
  padding: 24px;
}

.ant-card-head-title {
  display: inline-block;
  flex: 1 1;
  padding: 16px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
